* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: 1.06667rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

header #fanhui {
  font-size: 0.50667rem;
  margin-top: 0.26667rem;
}

header #sousuo {
  width: 8.53333rem;
  height: 0.72rem;
  border: 1px solid #ccc;
  margin-top: 0.16rem;
  background-color: #eeeeee;
}

header #sousuo input {
  background-color: #eeeeee;
  width: 7.30667rem;
  height: 0.72rem;
  outline: none;
  border: none;
  float: right;
}

header #sousuo i {
  float: left;
  line-height: 0.72rem;
  text-align: center;
  margin-left: 0.34667rem;
}

main {
  display: flex;
  flex: 1;
}

main .left {
  width: 2.13333rem;
  height: 100%;
  background-color: none;
  border-right: 0.02667rem solid #EEEEEE;
  font-size: 0.34667rem;
}

main .left ul .color {
  color: red;
}

main .left ul li {
  margin: 0.26667rem 0;
  text-align: center;
  font-size: 0.34667rem;
  line-height: 0.61333rem;
}

main .right {
  width: 7.84rem;
}

main .right > div {
  padding: 0.4rem;
  box-sizing: border-box;
}

main .right > div > img {
  width: 7.06667rem;
  height: 2.53333rem;
  background-color: none;
  display: block;
}

main .right > div h4 {
  font-size: 0.32rem;
  line-height: 1.84rem;
  text-align: center;
}

main .right > div .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .right > div .content dl {
  margin: 0.4rem 0.13333rem;
}

main .right > div .content dl dt img {
  width: 1.86667rem;
  height: 1.05333rem;
  background-color: none;
}

main .right > div .content dl dd {
  font-size: 0.32rem;
  color: #777777;
  text-align: center;
}

footer {
  width: 10rem;
  height: 1.06667rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 0.13333rem;
}

footer .yellow {
  color: yellow;
}

footer dl dt i {
  width: 0.66667rem;
  height: 0.66667rem;
  display: block;
  font-size: 0.66667rem;
  margin: 0 auto;
}

footer dl dd {
  font-size: 0.32rem;
  text-align: center;
}
